/*
 * Hitex LPC4350 Development Kit
 *
 * Copyright (C) 2014 VanguardiaSur - www.vanguardiasur.com.ar
 *
 */

/dts-v1/;
#include "lpc18xx.dtsi"

&pinctrl {

	uart0_pins: uart0-pins {
		uart0_rx_cfg {
			pins = "pf_11";
			function = "uart0";
			bias-disable;
			input-enable;
		};

		uart0_tx_cfg {
			pins = "pf_10";
			function = "uart0";
			bias-disable;
		};
	};

	i2c0_pins: i2c0-pins {
		i2c0_pins_cfg {
			pins = "i2c0_scl", "i2c0_sda";
			function = "i2c0";
			input-enable;
		};
	};
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	clock-frequency = <400000>;

	eeprom@50 {
		compatible = "microchip,24c02";
		reg = <0x50>;
	};

	pca9673@48 {
		/* FIXME: Not detected by i2cdetect. Need jumper setting? */
		compatible = "nxp,pca9673";
		reg = <0x48>;
	};

	sensor@18 {
		compatible = "jc42";
		reg = <0x18>;
	};
};

/ {
	model = "Hitex LPC4350 Development Kit";
	compatible = "hitex,lpc4350-devkit", "nxp,lpc18xx";

	chosen {
		bootargs = "console=ttyS0,115200 earlyprintk";
	};

	memory {
		device_type = "memory";
		reg = <0x28000000 0x800000>;
	};
};
